# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.md
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store